{{ define "main" }}

<div class=row>
    <div class="col-md-12">
        <h1>
            Contact us
        </h1>
    </div>
</div>

{{ with .Params.contacts }}
{{ range $name, $pointOfContact := .Params.contacts }}
<h2>{{ $name }}</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Platform</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        {{ range $pointOfContact }}
        <tr>
            <td>{{ .platform }}</td>
            <td>{{ .username }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
{{ end }}

{{ with .Content }}
<div class="row">
    <div class="col">
        {{ . }}
    </div>
</div>
{{ end }}

{{ end }}